{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'Filesystem edit'|trans }}</h1>
    {{ form_start(edit_form) }}
    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.description) }}
    {{ form_row(edit_form.path) }}
    {{ form_row(edit_form.url) }}
    {{ form_row(edit_form.type) }}
    {{ form_rest(edit_form) }}
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <a href="{{ path('filesystem') }}" class="btn">{{ 'Cancel'|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
