{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'Locations'|trans }}</h1>
    <a href="{{ path('location_new') }}" class="btn btn-primary btn-lg"><span
                class="glyphicon glyphicon-plus"></span> {{ 'New item'|trans }}</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Type'|trans }}</th>
            <th>{{ 'Path'|trans }}</th>
            <th>{{ 'Url'|trans }}</th>
            <th>{{ 'Created'|trans }}</th>
            <th>{{ 'Updated'|trans }}</th>
            <th>{{ 'Actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('location_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.path }}</td>
                <td>{{ entity.url }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a href="{{ path('location_show', { 'id': entity.id }) }}" class="btn btn-info"><span
                                class="glyphicon glyphicon-eye-open"></span> {{ 'Show'|trans }}</a>
                    <a href="{{ path('location_edit', { 'id': entity.id }) }}" class="btn btn-warning"><span
                                class="glyphicon glyphicon-pencil"></span> {{ 'Edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
