{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.name }}</h1>
    <div class="btn-group">
        <a href="{{ path('filesystem') }}" class="btn btn-default"><span
                    class="glyphicon glyphicon-list"></span> {{ 'Back to the list'|trans }}</a>
        <a href="{{ path('filesystem_edit', { 'id': entity.id }) }}" class="btn btn-warning"><span
                    class="glyphicon glyphicon-pencil"></span> {{ 'Edit'|trans }}</a>
    </div>
    <hr>

    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'Id'|trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'Name'|trans }}</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>{{ 'Type'|trans }}</th>
            <td>{{ entity.type }}</td>
        </tr>
        <tr>
            <th>{{ 'Path'|trans }}</th>
            <td>{{ entity.path }}</td>
        </tr>
        <tr>
            <th>{{ 'Url'|trans }}</th>
            <td>{{ entity.url }}</td>
        </tr>
        <tr>
            <th>{{ 'Description'|trans }}</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>{{ 'Created'|trans }}</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Updated'|trans }}</th>
            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
